*.log
*.before-app-landing
.DS_Store
.codex
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/layout_base
/public/build
/public/hot
/public/storage
/public/landing/img/mockupsCaptura*.png
/storage/*.key
/storage/pail
/vendor
mobile/android-twa/app/*.keystore
mobile/android-twa/app/*.apk
mobile/android-twa/app/*.apk.idsig
mobile/android-twa/app/*.aab
mobile/android-twa/app/.gradle
mobile/android-twa/app/**/build
Homestead.json
Homestead.yaml
main
status
Thumbs.db
